body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    user-select: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
    width: 450px;
    border: 1px solid cyan;
    border-radius: 24px;
    padding: 24px
}
input{
    padding-left: 14px;
    width: 400px;
    height: 48px;
    font-size: x-large;
    border: 1px solid cyan;
    color: aliceblue;
    border-radius: 12px;
    background-color: black;
}
button{
    padding: 0 8px;
    font-size: xx-large;
    color: aliceblue;
    height: 48px;
    width: 200px;
    border-radius: 14px;
    background-color: blue;
    border: none;
    &:hover{
        color: rgb(255, 255, 255);
        background-color: blue;
        transition: 0.15s;
        border: 1px solid cyan;
    }
}
.inputDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
#roman{
    text-align: center;
    align-self: stretch;
    margin: 0 0;
    font-size: 32px;
    user-select: text;
    color: yellow;
}